/* Styles de la section activités */
#list_activities{
    background-color:#fff;
    padding:50px 0;
    }
    #list_activities_title{
        margin-bottom:20px;
        }
    #list_activities_wrapper{
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
        }
        .list_activities_col{
            width:calc(25% - 25px);
            height:400px;
            display:flex;
            flex-wrap: wrap;
            align-content:space-between;
            }
            .excerpt_activities{
                height:100%;
                width: 100%;
                position: relative;
                line-height:1.4;
                }
                .excerpt_activities a,
                .excerpt_activities a figure{
                    position:absolute;
                    width: 100%;
                    height:100%;
                    top:0;
                    left:0;
                    }
                    .excerpt_activities a figure img{
                        width:100%;
                        height:100%;
                        object-fit: cover;
                        }
                    .excerpt_activities a span{
                        background-color: #fff;
                        padding:12px 17px;
                        position: absolute;
                        left:0;
                        bottom:0;
                        width:100%;
                        border-top-left-radius: 0;
                        border-top-right-radius: 0;
                        font-weight:700;
                        transition:var(--lien);
                        }
                        .excerpt_activities a:hover span{
                            color:var(--bleu);
                            transition:var(--lien);
                            } 
                .list_activities_col:nth-child(2) .excerpt_activities:nth-child(1){
                    height:calc(56% - 16px);
                    }
                .list_activities_col:nth-child(2) .excerpt_activities:nth-child(2){
                    height:calc(44% - 16px);
                    }
                .list_activities_col:nth-child(4) .excerpt_activities:nth-child(1){
                    height:calc(46% - 16px);
                    }
                .list_activities_col:nth-child(4) .excerpt_activities:nth-child(2){
                    height:calc(54% - 16px);
                    }

@media only screen and (min-width: 768px) and (max-width: 992px) {
    .list_activities_col{
        width:calc(50% - 16px);
        height:450px;
    }
    .list_activities_col:nth-child(1),
    .list_activities_col:nth-child(2){
        margin-bottom:32px;
    }
    .list_activities_col:nth-child(2) .excerpt_activities:nth-child(1),
    .list_activities_col:nth-child(2) .excerpt_activities:nth-child(2),
    .list_activities_col:nth-child(4) .excerpt_activities:nth-child(1),
    .list_activities_col:nth-child(4) .excerpt_activities:nth-child(2){
        height:calc(50% - 16px);
        }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
    #list_activities_wrapper{
        display:block;
        }
    .list_activities_col{
        width:100%;
        height:inherit;
        margin-bottom:20px;
        display:block;
    }
    .list_activities_col:last-child{
        margin-bottom:0;
    }
    .excerpt_activities,
    .list_activities_col:nth-child(2) .excerpt_activities:nth-child(1),
    .list_activities_col:nth-child(2) .excerpt_activities:nth-child(2),
    .list_activities_col:nth-child(4) .excerpt_activities:nth-child(1),
    .list_activities_col:nth-child(4) .excerpt_activities:nth-child(2){
        display:block;
        height:250px;
        }
    .list_activities_col:nth-child(2) .excerpt_activities:nth-child(1),
    .list_activities_col:nth-child(4) .excerpt_activities:nth-child(1){
        margin-bottom:20px;
        }
}