@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');      

/* Variables de couleurs du site */
:root {
    --noir: #000;
    --grisclair: #f2f2f2;
    --gris: #d9d9d9;
    --bleu: #0065FC;
    --bleuclair: #DEEBFF;
    --lien:0.1s color ease-in-out;
}

/* Styles de base */
html{
    -ms-overflow-style: -ms-autohiding-scrollbar;
    -webkit-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -webkit-appearance: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    scroll-behavior: smooth;
    }

body{
    font-family: 'Raleway', sans-serif;
    -webkit-backface-visibility: hidden;
    color: var(--noir);
    background-color: var(--grisclair);
    font-size:14px;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

figure {
    margin:0;
}

img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    display: block;
}

.content_width{
    width:95%;
    max-width:1200px;
    margin:auto;
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    .content_width{
        width:90%;
    }
}
@media only screen and (min-width: 0px) and (max-width: 768px) {
    .content_width{
        width:90%;
    }
}

.box_shadow{
    box-shadow:0 0 10px #bbb;
}
.box_radius{
    border-radius:15px;
}